"*":
  "atom-material-ui":
    colors:
      abaseColor: "#515151"
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
  autosave: {}
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "nuclide"
      "tool-bar"
      "goto-definition"
      "linter-phpcs"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "no"
    themes: [
      "predawn-ui"
      "predawn-syntax"
    ]
    useCustomTitleBar: true
  docblockr: {}
  editor: {}
  "exception-reporting":
    userId: "fed7b181-a86a-6e30-f6ca-9e8dd5f48cd6"
  "file-icons": {}
  "goto-definition": {}
  hyperclick: {}
  "linter-phpcs": {}
  "linter-phpmd":
    rulesets: "unusedcode"
  "linter-ui-default": {}
  nuclide:
    installRecommendedPackages: true
    "nuclide-code-format":
      formatOnSave: true
    "nuclide-hg-repository": {}
    "nuclide-home":
      showHome: false
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#232323"
        blue: "#bddcdc"
        cyan: "#92bfbf"
        green: "#b4d388"
        magenta: "#f18260"
        red: "#c42d29"
        white: "#f1f1f1"
        yellow: "#ffd949"
      zBright:
        brightBlack: "#797979"
        brightBlue: "#b2eeef"
        brightCyan: "#b2eeef"
        brightGreen: "#cdefa5"
        brightMagenta: "#f49d62"
        brightRed: "#ff2606"
        brightWhite: "#f1f1f1"
        brightYellow: "#ede480"
    style:
      fontSize: "12"
    toggles:
      autoClose: true
  "project-manager": {}
  "seti-ui":
    fileIcons: false
    themeColor: "Steel"
  "terminal-plus":
    toggles:
      autoClose: true
  "tool-bar":
    position: "Left"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
